@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family:'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
    transition: all .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    background-color:bisque;
}

section{
    padding:5rem 10%;
}

.heading{
    text-align:center;
    margin-bottom:3rem;
    font-size:3.5rem;
    text-transform:capitalize;
    color: #444;
}

.blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.blog .box-container .box:hover .image img{
    transform: scale(1.1);  
}

.blog .box-container .box.shadow{
    box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34);
}

.blog .box-container .box .image{
    height:25rem;
    overflow:hidden;
    position:relative;
}

.blog .box-container .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.blog .box-container .box .image h3{
    background-color: #fff;
    color: #444;
    position:absolute;
    top:2rem;
    left:1rem;
    padding: .5rem 1.5rem;
    font-size:1.5rem;
    border-radius:15px;
}

.blog .box-container .box .image h3 i{
    color:#bd18b4;
}

.blog .box-container .box .content{
    padding:2rem;
    background-color:#fff;
}

.blog .box-container .box .content h3{
    font-size:2rem;
}

.blog .box-container .box .content p{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height:2;
    color:#777;
}

.btn{
    display:inline-block;
    margin-top:1rem;
    padding:0.8rem 2rem;
    font-size:1.2rem;
    border:0.1rem solid #bd18b4;
    background: #ffeeff;
    color:#bd18b4;
    cursor:pointer;
    text-transform:capitalize;
}

.btn:hover{
    background:#bd18b4;
    color:#ffeeff;
}
